Unity/**/Library/

Unity/**/obj/

Unity/**/Temp/

Unity/**/*.sln

Unity/**/*.csproj
xcuserdata/

Unity/**/holobuild/
Unity/**/UWP/
Unity/**/holobuild/
**/.vs/
**/*.db
**/*.opendb
**/*.unitypackage
PopEncodeJpeg.uwp/Release/

# Build files
Build/
Unity/PopCameraDevice/Assets/PopCameraDevice/

# Intermediates
PopCameraDevice\.visualstudio/x64/
PopCameraDevice\.visualstudio/Master/
*.pdb
*.user

Source/Libs/Microsoft.Azure.Kinect.Sensor.1.4.1/
