[submodule "Source/SoyLib"]
	path = Source/SoyLib
	url = https://github.com/SoylentGraham/SoyLib.git
[submodule "Source/Libs/LibFreenect2/LibFreenect2x"]
	path = Source/Libs/LibFreenect2/LibFreenect2x
	url = https://github.com/OpenKinect/libfreenect2.git
[submodule "Source/Libs/LibFreenect/LibFreenect"]
	path = Source/Libs/LibFreenect/LibFreenect
	url = https://github.com/OpenKinect/libfreenect.git
[submodule "Unity/PopCameraDevice/Assets/PopUnityYuvShader"]
	path = Unity/PopCameraDevice/Assets/PopUnityYuvShader
	url = https://github.com/NewChromantics/PopUnityYuvShader.git
[submodule "Source/Json11"]
	path = Source/Json11
	url = https://github.com/NewChromantics/json11.git
