# unity temp files
Unity/**/Library/
Unity/**/obj/
Unity/**/Temp/
Unity/**/*.sln
Unity/**/*.csproj
Unity/**/UWP/
Unity/**/holobuild/


# xcode temp files
xcuserdata/

# visual studio temp files
**/.vs/
**/*.db
**/*.opendb
**/*.unitypackage
PopEncodeJpeg.uwp/Release/
PopCameraDevice\.visualstudio/x64/
PopCameraDevice\.visualstudio/Master/
*.pdb
*.user
PopCameraDevice.visualstudio/obj/ARM64/

# linux temp files
*.o

# Build files
Build/
Unity/PopCameraDevice/Assets/PopCameraDevice/

# external libs
Source/Libs/Microsoft.Azure.Kinect.Sensor.1.4.1/

PopCameraDevice.visualstudio/Linux/bin/

PopCameraDevice.visualstudio/Linux/obj/

PopCameraDevice.visualstudio/packages/
