//	config for OSX bundle apps
//#include "PopApp.xcconfig"

#include "../Source/Version.xcconfig"


GCC_PREPROCESSOR_DEFINITIONS = $(inherited) TARGET_IOS GLES_SILENCE_DEPRECATION 
INFOPLIST_FILE = $(SRCROOT)/Info.plist

BROADWAY_PATH = $(SRCROOT)/Source/Broadway/Decoder
LIBFREENECT_PATH = $(SRCROOT)/Source/Libs/LibFreenect
LIBFREENECT2_PATH = $(SRCROOT)/Source/Libs/LibFreenect2
LIBFREENECT2_BUILD_PATH = $(LIBFREENECT2_PATH)/Build
SOYLIB_PATH = $(SRCROOT)/Source/SoyLib/src

HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS) $(inherited) $(BROADWAY_PATH)/inc $(LIBFREENECT2_PATH)/LibFreenect2/include/ $(LIBFREENECT2_BUILD_PATH)/ $(LIBFREENECT_PATH)/ $(SOYLIB_PATH)
LIBRARY_SEARCH_PATHS = $(LIBRARY_SEARCH_PATHS) $(inherited) $(LIBFREENECT2_BUILD_PATH)/lib/ $(LIBFREENECT_PATH)/

//	this should add bitcode, but doesnt without BITCODE_GENERATION_MODE
OTHER_CFLAGS = -Wno-ambiguous-macro -fembed-bitcode
OTHER_LDFLAGS = -fembed-bitcode;

//	need this to get rid of bitcode errors
//	this should show bitcode sections
//		otool -l binary_name | grep __bitcode
//	but despite none showing, a build using this framework still succeeded
//	with just -fenable_bitcode and enable bitcode, it failed
BITCODE_GENERATION_MODE = bitcode

// tsdk: Mirroring config from PopH264
BUILD_LIBRARY_FOR_DISTRIBUTION = YES
