//	config for OSX bundle apps
//#include "PopApp.xcconfig"

#include "../Source/Version.xcconfig"

CLANG_CXX_LANGUAGE_STANDARD = c++20

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) TARGET_IOS GLES_SILENCE_DEPRECATION 
INFOPLIST_FILE = $(SRCROOT)/Info.plist

BROADWAY_PATH = $(SRCROOT)/Source/Broadway/Decoder
LIBFREENECT_PATH = $(SRCROOT)/Source/Libs/LibFreenect
LIBFREENECT2_PATH = $(SRCROOT)/Source/Libs/LibFreenect2
LIBFREENECT2_BUILD_PATH = $(LIBFREENECT2_PATH)/Build
SOYLIB_PATH = $(SRCROOT)/Source/SoyLib/src

HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS) $(inherited) $(BROADWAY_PATH)/inc $(LIBFREENECT2_PATH)/LibFreenect2/include/ $(LIBFREENECT2_BUILD_PATH)/ $(LIBFREENECT_PATH)/ $(SOYLIB_PATH)
LIBRARY_SEARCH_PATHS = $(LIBRARY_SEARCH_PATHS) $(inherited) $(LIBFREENECT2_BUILD_PATH)/lib/ $(LIBFREENECT_PATH)/

//	this should add bitcode, but doesnt without BITCODE_GENERATION_MODE
OTHER_CFLAGS = -Wno-ambiguous-macro -fembed-bitcode

// tsdk: Mirroring config from PopH264
BUILD_LIBRARY_FOR_DISTRIBUTION = YES


//	from 2022/xcode 14, bitcode is required to be OFF on IOS
//	but with bitcode, we end up getting xcode12 bitcode vs xcode13 bitcode errors, which we want to avoid
ENABLE_BITCODE = NO

//	when uploading ios apps, they check API usage - so only enable homekit at a lower level with ENABLE_HOMEKIT
//	we cant read the pixels anyway, so maybe we should just remove support
//GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(GCC_PREPROCESSOR_DEFINITIONS) ENABLE_HOMEKIT
