//	config for OSX bundle apps
//#include "PopApp.xcconfig"

#include "../Source/Version.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) TARGET_OSX ENABLE_FREENECT ENABLE_FREENECT2 //ENABLE_KINECTAZURE
INFOPLIST_FILE = $(SRCROOT)/Info.plist

BROADWAY_PATH = $(SRCROOT)/Source/Broadway/Decoder
LIBFREENECT_PATH = $(SRCROOT)/Source/Libs/LibFreenect
LIBFREENECT2_PATH = $(SRCROOT)/Source/Libs/LibFreenect2
LIBFREENECT2_BUILD_PATH = $(LIBFREENECT2_PATH)/Build
KINECTAZURE_PATH = $(SRCROOT)/Source/Libs/Microsoft.Azure.Kinect.Sensor.1.4.1
SOYLIB_PATH = $(SRCROOT)/Source/SoyLib/src

HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS) $(inherited) $(SOYLIB_PATH) $(BROADWAY_PATH)/inc $(LIBFREENECT2_PATH)/LibFreenect2/include/ $(LIBFREENECT2_BUILD_PATH)/ $(LIBFREENECT_PATH)/ $(KINECTAZURE_PATH)/build/native/include/
LIBRARY_SEARCH_PATHS = $(LIBRARY_SEARCH_PATHS) $(inherited) $(LIBFREENECT2_BUILD_PATH)/lib/ $(LIBFREENECT_PATH)/

//	-fdeclspec just as we're testing kinectazure headers on osx
OTHER_CFLAGS = -Wno-ambiguous-macro -fdeclspec

// tsdk: Mirroring config from PopH264
BUILD_LIBRARY_FOR_DISTRIBUTION = YES


//	this sets the linker to compile with swift version X (default is blank, 0.0.0)
//	this fixes "xyz" requires 1.0.0 and "this" is 0.0.0 error as apple cannot mix & match
//	swift binaries any more from different frameworks
DYLIB_COMPATIBILITY_VERSION = 1

//EMBEDDED_CONTENT_CONTAINS_SWIFT = YES

//	gr: for now we aren't supporting arm as we need libusb (kinect) which we aren't building an arm version of
ARCHS = x86_64
